<% include ../partials/head %>
<% include ../partials/header %>
<% include ../partials/nav %>
<main>
        <ul class="cardList"></ul>
</main>
<template id="cardTemplate">
<article class="cardList__card">
        <img src="" alt="">
        <h1></h1>
        <p></p>
        <table>
            <tr>
                <td>Land</td>
                <td class="country"></td>
            </tr>
            <tr>
                <td>Vægt</td>
                <td class="price"></td>
            </tr>
            <tr>
                <td>Pris</td>
                <td class="weight"></td>
            </tr>
        </table>
        <a href="">Læs mere</a>
    </article>
</template>
    <script src="/assets/javascript/getProdukts.js"></script>
    <% include ../partials/footer %>
<% include ../partials/after-footer %>